


body {
    background-color: #808080; /* Light gray background color */
}

.footerText {
   display: block; 
   text-align: center;

}

a img {
    border: 2px solid white;
    border-radius: 50%;
    width: 100px;
    height: 100px; 
}