
header {
    background-color: #000000; /* Dark background color for the header */
    color: white; /* Text color for the header */
    padding: 10px 0; /* Add padding to the header */
}

main {
    flex: 1; /* This makes the main section take up the remaining vertical space */
}

body {
    /*background-color: #414040;  Light gray background color */
    display: flex;
    flex-direction: column;
    min-height: 95vh; /* This ensures the body takes at least the full viewport height */
    margin: 0;
}

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('Images/Background2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: blur(3px); /* Adjust the blur amount as needed */
    z-index: -1; /* Place the pseudo-element below the content */
}

footer {
    padding-top: 10px;  
    margin-top: auto; /* This pushes the footer to the bottom */
    /* width: 1250px; /* Adjust the width of the line as needed */
    margin: auto; /* Adjust margin as needed */
}

h1 {
    font-size: 50px;
}


nav {
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between; /* Separates the logo and nav links */
    align-items: center;
    width: 100%; /* Ensure the container takes full width */
    padding: 10px; /* Add padding for spacing */
}

.logo img {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    margin-right: 20px; /* Adjust as needed for spacing */
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.footerText {
   display: block; 
   text-align: center;
   font-family: 'Quicksand', sans-serif;
}

a img {
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px; 
    margin-left: 10px; 
}

img {
    border: 2px solid white;
    border-radius: 50%;
}

.imgCenter {
    width: 250px;
    height: 250px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 90px;
    box-shadow: 8px 8px 15px rgba(0, 0, 0, 0.5); /* box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.7); If I want it stronger */
}

.textCenter {
    display: block;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
    opacity: 0; /* Set initial opacity to 0 */
    animation: fadeInUp ease 3s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}

/* Animation for the first text 
.textCenter:nth-child(1) {
    animation: fadeInUp 1s ease-out 0.5s; /* Delay of 0.5 seconds 
}

/* Animation for the second text 
.textCenter:nth-child(2) {
    animation: fadeInUp 1s ease-out 5s; /* Delay of 1 second 
} */

.navbarLinks {
    font-family: "Helvetica", sans-serif;
}

.footer-line {
    width: 100%; /* Set the width to 100% to span the entire footer */
    border-top: 1px solid #cccccc9a; /* Adjust the border properties as needed */
    margin-top: 100px; /* Adjust margin-top as needed */
}

.logo-container {
    position: relative;
}

.logo-container:hover .logo-text {
    transform: translateX(50%); /* Adjust the distance text moves to the right */
    opacity: 1;
}

.logo-text {
    position: absolute;
    top: 35%;
    left: 100%; /* Position the text just outside the image */
    opacity: 0;
    transition: transform 0.3s ease, opacity 0.3s ease;
    white-space: nowrap; /* Prevents the text from breaking into a new line */
    font-family: "Helvetica", sans-serif;
    color: rgb(255, 255, 255);
}

#gameCanvas {
    width: 250px;
    height: 250px; 
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    margin-bottom: 90px;
}

#score {
    text-align: center;
    display: block;
    text-align: center;
    font-family: 'Quicksand', sans-serif;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
}

@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
