
header {
    background-color: #000000; /* Dark background color for the header */
    color: white; /* Text color for the header */
    padding: 10px 0; /* Add padding to the header */
}

main {
    flex: 1; /* This makes the main section take up the remaining vertical space */
}

body {
    background-color: #414040; /* Light gray background color */
    display: flex;
    flex-direction: column;
    min-height: 95vh; /* This ensures the body takes at least the full viewport height */
    margin: 0;

    background-image: url('idk.jpg');
    background-size: cover; /* Ensures the background image covers the entire viewport */
    background-position: center; /* Centers the background image */
    background-repeat: no-repeat; /* Prevents the background image from repeating */
}

footer {
    border-top: 1px solid #cccccc9a; 
    padding-top: 10px; 
    margin-top: auto; /* This pushes the footer to the bottom */margin-top: 20px;
    width: 1250px; /* Adjust the width of the line as needed */
    margin: 20px auto 0; /* Adjust margin as needed */
}

nav {
    display: flex;
    justify-content: flex-end; /* Aligns items to the right */
    align-items: center;
}

.navbar-container {
    display: flex;
    justify-content: space-between; /* Separates the logo and nav links */
    align-items: center;
    width: 100%; /* Ensure the container takes full width */
    padding: 10px; /* Add padding for spacing */
}

.logo img {
    width: 50px;
    height: 50px;
    border: 2px solid white;
    border-radius: 50%;
}

.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
}

.nav-links li {
    margin-right: 20px; /* Adjust as needed for spacing */
}

.nav-links a {
    text-decoration: none;
    color: white;
}

.footerText {
   display: block; 
   text-align: center;
}

a img {
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
    height: 50px; 
    margin-left: 10px; 
}

img {
    border: 2px solid white;
    border-radius: 50%;
    width: 250px;
    height: 250px; 
    margin-left: 10px; 
}

.imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

.textCenter {
    display: block;
    text-align: center;
}

